@font-face {
    font-family: 'FontGroot';
    src: url('Fonts/Demo_Fonts/Demo_Fonts/Fontspring-DEMO-span-semibold.otf') format('opentype');
}

@font-face {
    font-family: 'FontKlein';
    src: url('Fonts/cofo-gothic-font-family-1750307492-0/cofo-gothic-font-family-1750307492-0/CoFoGothic-Regular-Trial.otf') format('opentype');
}

body {
    overflow-y: scroll;
    overflow-x: none;
    overflow-x: hidden;
    background-color: black;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#header{
    height: 80vh;
    width: 100%;
}

@media (max-width: 800px) {
    #header {
        height: fit-content;
    }
}

#header img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#row{
    height: fit-content;
}

h1,
h2,
h3,
h5,
h6 {
    font-family: FontGroot;
}

h3 {
    color: white;
    letter-spacing: 1px;
    white-space: nowrap;
    font-size: clamp(1.1em, 1.8vw, 2.5em);
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

p {
    font-family: FontKlein;
    font-size: clamp(0.9em, 1.4vw, 1.2em);
}

#card,
#card-big,
#card-small,
#card-mob {
    border-radius: 0px;
    border: none;
    overflow-y: auto;
}

#card-big img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

#card img {
    height: 65vh;
    width: 100%;
    object-fit: cover;
}

#card-mob img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

#card-small img {
    height: 50vh;
    width: 49%;
    object-fit: cover;
}

footer {
    background-color: black;
}
