@font-face {
    font-family: 'FontGroot';
    src: url('Fonts/Demo_Fonts/Demo_Fonts/Fontspring-DEMO-span-semibold.otf') format('opentype');
}

@font-face {
    font-family: 'FontKlein';
    src: url('Fonts/cofo-gothic-font-family-1750307492-0/cofo-gothic-font-family-1750307492-0/CoFoGothic-Regular-Trial.otf') format('opentype');
}

body {
    overflow-y: scroll;
    overflow-x: none;
    overflow-x: hidden;
    background-color: black;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#header{
    height: 100vh;
    width: 100%;
}

#header img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Logo Bar */
#logo-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    padding: 10px 0;
}

#logo-bar img {
    transition: all 0.3s ease;
    max-height: 80px;
}

.logo-small #logo-img {
    max-height: 100px;
}

.logo-large #logo-img {
    max-height: 150px;
}

#row{
    height: fit-content;
    position: relative;
}

h1,
h2,
h3,
h5,
h6 {
    font-family: FontGroot;
}

h3 {
    color: white;
    letter-spacing: 1px;
    white-space: nowrap;
    font-size: clamp(1.1em, 1.8vw, 2.5em);
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

p {
    font-family: FontKlein;
    font-size: clamp(0.9em, 1.4vw, 1.2em);
}

#card,
#card-big,
#card-small,
#card-mob {
    border-radius: 0px;
    border: none;
    overflow-y: auto;
}

#card-big img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

#card img {
    height: 65vh;
    width: 100%;
    object-fit: cover;
}

#card-mob img {
    height: 45vh;
    width: 100%;
    object-fit: cover;
}

#card-small img {
    height: 50vh;
    width: 49%;
    object-fit: cover;
}

.contact-form {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.contact-form.show {
    max-height: 500px; /* pas aan indien nodig */
    opacity: 1;
}

footer {
    background-color: black;
}

@media (max-width: 800px) {
    #header {
        height: 60vh;
    }
}

#wijn,
#ink,
#cheers {
    position: absolute;
    z-index: 200;
}

#wijn img,
#ink img,
#cheers img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#wijn {
    height: 140px;
    bottom: 50px;
    right : -590px;
}

#ink {
    height: 120px;
    bottom: 0px;
    right: -180px;
}

#cheers {
    height: 120px;
    bottom: 0;
    left: -230px;
}

#wijn-mob,
#ink-mob,
#cheers-mob {
    position: absolute;
    display: flex;
    justify-content: end;
    width: 100%;
    z-index: 200;
}

#wijn-mob {
    top: 270px;
}

#ink-mob {
    bottom: 360px;
}

#cheers-mob {
    bottom: 400px;
}

#wijn-mob img,
#ink-mob img,
#cheers-mob img {
    height: 30%;
    width: 30%;
    object-fit: contain;
}